    <!-- START FOOTER -->
    <footer class="page-footer">
        <!--<div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">States Covered</h5>
                    <p class="grey-text text-lighten-4">Regions of India.</p>
                    <div id="world-map-markers"></div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Students / State</h5>
                    <p class="grey-text text-lighten-4">State wise students enrolled in the programme.</p>
                    <div id="polar-chart-holder">
                        <canvas id="polar-chart-country" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="footer-copyright">
            <div class="container">
                <span class="right"> Designed  for <a class="grey-text text-lighten-4" href="http://smartcity.in/">Smart Cities Mission!</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->