<!DOCTYPE html>
{% load staticfiles %}
  
<html>
	<head>
		<title>Smart City Login</title>
		<style>
	 		#form_div{
	 			max-width: 300px;
	 			margin-left: 35%;
	 		}
		</style>
	</head>
	<body>
	{% include 'material/includes/material_css.html' %}
  	{% include 'material/includes/material_js.html' %}

		

		 {% load material_form %}
		
		<div id="form_div">
		<h3>Welcome to Smart City Portal</h3>
		<form id="login_form" method="post" action = "/login/" >
		{% csrf_token %}
		{{ form.as_p}}
		<input type = "submit" name="submit" value="Login" class="btn"/>
		<a href = "/signup/"><input type = "button" value="SignUp" class="btn" ></a>
		</form>
		</div>
	</body>
</html>
